*.pyc
_version.py
__pycache__
build/
dist/
sdist/
*.egg-info/
vivado_prj
.vscode
my-hls-test
*.tar.gz
docs/_build
docs/autodoc/*
hls4mlprj_*
*~
*.ipynb_checkpoints/
.idea/*

mytest/*
mytest2/*
mytest3/*
mytest4/*
myTest5_simtest/*
myTest6_cosim/*
myTest7_cosimpar/*
myTest8_skipTest/*
myTest9_skipOnnx/*
myTest10_bdk/*
environment.yml