# Python
*.pyc
_version.py
__pycache__
*.egg-info/

# Build artifacts
build/
dist/
sdist/
*.tar.gz

# Docs
docs/_build
docs/autodoc/*

# Editor / IDE
.vscode
/.idea/
*~
*.bak
*.ipynb_checkpoints/

# HLS / Vivado generated outputs
vivado_prj
my-hls-test
hls4mlprj_*
/hls4ml_output/diag/
/hls4ml_output/_exp_locked/full_weights.h5
/hls4ml_output/_exp_locked/x_input_1000000.npy

/hls4ml_output2

# Test artifacts
test/pytest/partialExp
/exp_sz/
